<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
        xmlns:tools="http://schemas.android.com/tools"
        android:installLocation="auto">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" tools:node="remove" />

    <application
            android:label="${appLabel}"
            android:process="org.coolreader.knownreader"
            tools:replace="android:process"
            tools:node="merge"
            >
        <provider
                android:name="org.coolreader.GenericFileProvider"
                android:authorities="org.knownreader.free.fileprovider"
                android:exported="false"
                android:grantUriPermissions="true">
            <meta-data
                    android:name="android.support.FILE_PROVIDER_PATHS"
                    android:resource="@xml/provider_paths" />
        </provider>
    </application>
</manifest>