bin
gen
libs
obj
*.iml
.gradle
/gradle
/local.properties
/.idea
/.idea/
/.idea/workspace.xml
/.idea/gradle.xml
/.idea/libraries
/.idea/misc.xml
.DS_Store
/build
/captures
.externalNativeBuild
apikey.properties
/.externalNativeBuild
/.idea/assetWizardSettings.xml
/.idea/encodings.xml
/.idea/jarRepositories.xml
/.idea/modules.xml
/.idea/caches/
/.idea/dictionaries/
